.widget_container {
    display: inline-block;
}

.widget_container:hover {
    /* cursor: move; */
    cursor: grab;
    /* cursor: -moz-grab; */
    cursor: -webkit-grab;
}

.widget_container:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.Date,
.Time {
    padding: 0.3rem 2rem 0.3rem 2rem;
    /* position: fixed; */
    /* padding: 1rem; */
    /* width: 50%; */
    display: inline-block;
}


.Date {}

.Time {}

.Avatar {
    max-width: 8rem;
    max-height: auto;
    -webkit-user-drag: none;
}

.Info {
    /* text-align: left; */
}


/* .widget_box {
    position:relative;
    width:100%;
    text-align: center;
} */

/* .widget_text {
    position: absolute;
    top: 60%;
  left: 7%;
  z-index: 5;
  width: 30%;
  opacity: 0;
  display: flex;
} */
/* .DropArea {
    height: 100%;
    width: 100%;
} */